Package: ansible-client
Version: 1.0.%%REV%%
Section: utils
Priority: optional
Architecture: all
Depends: bash (>= 4.2), python3(>= 3.4.0)
Maintainer: Niels Jakob Darger <njd@siteimprove.com>
Description: Ansible client setup
