Package: ansible-client
Version: latest
Section: editors
Priority: optional
Architecture: all
Depends: bash (>= 4.2)
Maintainer: David Flygenring Nielsen <david@graveyard.dk>
Description: Download and package latest Lighttable editor
